.info {
    background-color: #eeeeee;
    height: 100%;

    padding: 40px;
    padding-top: 80px;
}

h1 {
  font-size: 40px;
  color: #FFFFFF;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 18px;
}

.info-section {
  margin-bottom: 30px;
}

.info-section p {
    color: #787878;
}

.contact {
    font-size: 28px;
}

.tagline {
    width: 100%;
    text-align: center;

}

.tagline h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
}

.avatar {
  background-image: url('./stuart-quin-quin.png');
  background-repeat: no-repeat;
  background-size: contain;

  width: 200px;
  height: 200px;

  border-radius: 90%;
  border: 5px solid #FFFFFF;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.header {
  height: 550px;

  background-color: #353E49;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.experience {
  text-align: left;
}

.experience-employment {
  text-align: left;
}

.experience-entry {
  text-align: left;
  margin-top: 20px;
  height: 150px;
}
